<%= image_tag "quill.jpg", class: 'quill' %><h3><u><%= link_to 'Sign Guest Book', new_entry_path%></h3></u>


<% @entries.each do |entry| %>
<p>
<%= entry.name %> says:
<%= entry.text %>
</p>
<% end %>


