<dl class="tabs pill">
  <dd class="active"><a href="#pillTab1">Hotel Info</a></dd>
  <dd><a href="#pillTab2">Marriott Courtyard</a></dd>
  <dd><a href="#pillTab3">Homewood Suites</a></dd>

</dl>

<div class = "Message"><p>We were able to negotiate discounted room rates at two hotels near our wedding venue during the wedding weekend.  It's a busy tourist weekend (the annual SD Rock 'n' Roll Marathon is the day after our wedding on Sunday, 02-Jun-2013) so we recommend booking in advance.  If you work for the government or are in the military, you might be able to get better rates than what we negotiated.  You may also want to look into vacation home rentals for larger groups (ask us if you need recommendations on which part of SD to stay in).</p>

<p>The advantage with staying at these hotels is that we will be providing complimentary wedding day transportation to/from the wedding sites and these locations.  Also, there's a free shuttle to/from the airport and free self parking.</p>

</div>