<dl class="tabs pill">
	<dd class="active"><a href="#pillTab1">Hotel Info</a></dd>
	<dd><a href="#pillTab2">Marriott Courtyard</a></dd>
	<dd class="hide-for-small"><a href="#pillTab3">Homewood Suites</a></dd>
</dl>

<ul class="tabs-content">
	<li id="pillTab1Tab" class="active"> 
		<p>Our wedding guests are able to obtain discounted room rates at two hotels near our venues in the Point Loma area of San Diego during the wedding weekend. These hotels will be the most convenient places to stay since we will provide complimentary wedding day transportation to/from the wedding sites and the hotels. There's also a free shuttle to/from the airport and free self parking.</p>

		<p>Our wedding falls on a busy tourist weekend (the annual SD Rock 'n' Roll Marathon is the day after our wedding on Sunday, 02-Jun-2013). So we recommend booking in advance. You may be able to find better rates if you work for the government, military, or have AAA. You may also want to look into vacation home rentals for larger groups (ask us if you need recommendations on which part of SD to stay in).</p>

	</li>
	<li id="pillTab2Tab"> 
		<h4>Marriott Courtyard in Point Loma</h4>
		<p><a href="https://maps.google.com/maps?q=2592+Laning+Road,+San+Diego+92106&hl=en&sll=32.731374,-117.215758&sspn=0.104982,0.148315&t=h&hnear=2592+Laning+Rd,+San+Diego,+California+92106&z=17">2592 Laning Road; 
		San Diego, CA 92106</a></p>

		<p>To Book: Call 619-221-1900 or toll free number 800-321-2211.  Please ask for the “Alba/Osborne Wedding” group rate &amp/or group code “AOW”</p>

		<p>Deadline To Book: 26-Apr-13</p>

		<p>Rate applies to nights: Friday 31-May-2013, Saturday 01-Jun-2013</p>

		<p>Amenities include: Free shuttle to/from airport</p>
	</li>


	<li id="pillTab3Tab"> 
		<h4>Homewood Suites in Point Loma</h4>
		<p><a href="https://maps.google.com/maps?q=2576+Laning+Road%3B+San+Diego,+CA+92106&hl=en&sll=39.557931,-119.850841&sspn=0.769725,1.186523&t=h&hnear=2576+Laning+Rd,+San+Diego,+California+92106&z=17">2576 Laning Road; San Diego, CA 92106</a></p>
		
		
			<p><a href="http://homewoodsuites.hilton.com/en/hw/groups/personalized/S/SANLSHW-AOW-20130528/index.jhtml?WT.mc_id=POG">Studio suite 1 king ($165 / night)</a></p>
			<p><a href="http://homewoodsuites.hilton.com/en/hw/groups/personalized/S/SANLSHW-AOW-20130528/index.jhtml?WT.mc_id=POG">1 bedroom king bed suite ($175 / night)</a></p>
			<p><a href="http://homewoodsuites.hilton.com/en/hw/groups/personalized/S/SANLSHW-AOW-20130528/index.jhtml?WT.mc_id=POG">2 bedroom 2 bathroom suite 1 king bed 1 queen bed ($260 / night)</a></p>
		

		<p>To Book: Call 619-222-0500 by 02-May-13</p>

		<p>Rate applies to nights: Thursday 30-May-2013, Friday 31-May-2013, Saturday 01-Jun-2013</p>
		<p>     *Contracted rates only show up if you pick dates in the contracted date range</p>

		<p>Amenities include: Free Breakfast, Free shuttle to/from airport, Great for families.</p>
	</li>  
</ul>