<dl class="tabs pill">
  <dd class="active"><a href="#pillTab1">Hotel Info</a></dd>
  <dd><a href="#pillTab2">Marriott Courtyard</a></dd>
  <dd class="hide-for-small"><a href="#pillTab3">Homewood Suites</a></dd>
</dl>

<ul class="tabs-content">
  <li id="pillTab1Tab" class="active"> 
      <div class = "Message"><p>We were able to negotiate discounted room rates at two hotels near our wedding venue during the wedding weekend.  It's a busy tourist weekend (the annual SD Rock 'n' Roll Marathon is the day after our wedding on Sunday, 02-Jun-2013) so we recommend booking in advance.  If you work for the government or are in the military, you might be able to get better rates than what we negotiated.  You may also want to look into vacation home rentals for larger groups (ask us if you need recommendations on which part of SD to stay in).</p>

	<p>The advantage with staying at these hotels is that we will be providing complimentary wedding day transportation to/from the wedding sites and these locations.  Also, there's a free shuttle to/from the airport and free self parking.</p>

	</div>
  </li>

  <li id="pillTab2Tab"> 
      <h4>Marriott Courtyard in Point Loma</h4>

	<p><a href ="http://www.marriott.com/hotels/travel/sanal-courtyard-san-diego-airport-liberty-station/?toDate=6/2/13&groupCode=aowaowa&fromDate=5/31/13&app=resvlink">1 king bed OR 2 queen beds per night: $140 / night </a></p>

	<p>To Book: Call 619-221-1900 or toll free number 800-321-2211.  Please ask for the “Alba/Osborne Wedding” group rate &amp/or group code “AOW”</p>

	<p>Deadline To Book: 26-Apr-13</p>

	<p>Rate applies to nights: Friday 31-May-2013, Saturday 01-Jun-2013</p>

	<p>Amenities include: Free shuttle to/from airport</p>
  </li>


  <li id="pillTab3Tab"> 
      <h4>Homewood Suites in Point Loma</h4>

	<a href="http://homewoodsuites.hilton.com/en/hw/groups/personalized/S/SANLSHW-AOW-20130528/index.jhtml?WT.mc_id=POG">
	<p>Studio suite 1 king ($165 / night)</p>
	<p>1 bedroom king bed suite ($175 / night)</p>
	<p>2 bedroom 2 bathroom suite 1 king bed 1 queen bed ($260 / night)</p></a>

	<p>Deadline To Book: 02-May-13</p>

	<p>Rate applies to nights: Thursday 30-May-2013, Friday 31-May-2013, Saturday 01-Jun-2013</p>
	<p>     *Contracted rates only show up if you pick dates in the contracted date range</p>

	<p>Amenities include: Free Breakfast, Free shuttle to/from airport, Great for families.</p>
  </li>  
</ul>

