<dl class="tabs pill">
  <dd class="active"><a href="#pillTab1">Hotel 1</a></dd>
  <dd><a href="#pillTab2">Hotel 2</a></dd>
  <dd><a href="#pillTab3">Hotel 3</a></dd>
  <dd><a href="#pillTab3">Hotel 4</a></dd>

</dl>