<div id="featuredContent">
	<div style="opacity:1">
		<h4>Grace, Bride's Maid</h4>
		<%= image_tag 'Grace.jpg', style: 'height: 203px; width:125px; margin: 10px; float:left;' %><p>Linnea and I met our Sophomore year at Cal when we found ourselves rushing for a sorority. We weren't instant friends but the more time we spent together, the more we learned to appreciate our differences and found that we weren't so different after all. Our remaining 3 years of college were memorable; filled with lack of sleep, frat parties, a lot of meetings, oh yeah, and some studying. But through all the tears and laughter, we molded each other and pushed each other to grow even after our college years ended. Linnea is quirky, caring, intelligent and beautiful... the whole package, except for her driving skills (if you've ever ridden in a vehicle with her, you know what I mean, and if not, I can definitely share some stories). She has a huge heart and is always open to listen and give comforting words. I am so happy for her and John! Congratulations and thank you for letting me share part of the journey with you!</p>
	</div>
	<div style="opacity:0">
		<h4>Gloria, Bride's Maid</h4>
		<p>I’ve known Linnea since she pledged our sorority our sophomore year, but we really became close when we lived together in “the Hottie House” our senior year - the de facto sorority house. I still miss popping into each other’s rooms on Tuesday nights to get opinions on what we should wear for “two for Tuesdays” at Henry’s. Linnea and I always had a thing for getting into trouble together, and from our senior year through our first few years living in San Francisco we had plenty of adventures - some were messier than others, but they made for great stories and we laugh about all of them today.</p>

		<p>Of course we’ve grown up a lot since then. Neither of us live in the Bay anymore, and our lives have changed. Stiletto heels were traded out for hiking boots, and Sunday hangover lunches over bowls of steaming pho were replaced with weeknight dinners of organic salads and white wine. We even took a little break from our friendship for a while once, but like true friends, some time passed and we realized that we couldn’t even remember why we’d been mad at each other in the first place. We appreciated, understood and accepted each other even more after that.</p>

		<p>What I always loved most about Linnea was that she has always strived to grow and better herself year after year, and she has always been one of my most enthusiastic supporters when I’ve tried to do the same. It’s so good to see the happy, healthy life she’s made for herself and with John, and I can’t wait to celebrate with the two of them and all our closest friends on June 1!</p>
	</div>
	<div style="opacity:0">
		<h4>Khara, Maid of Honor</h4>
		<p>Linnea and I first met at Freshman Orientation at Notre Dame High School, and here we are as best friends 15 years later.  Through each milestone, rite of passage, loss (or getting lost), celebration and even in the face of danger we have always played witness to each others' lives.  My view of our friendship and Linnea as an individual, is that we can always rely on each other to be present and mindful when we're living on the edge.  I would like to think that Linnea and I have faced the edge of life together several times, which is why we clearly know the difference between right and wrong, why we know what matters the most when it comes to living life to the fullest, and most importantly why we continue to make fun our priority when we spend time together.  I love Linnea with all my heart and couldn't be more in love with her as a friend.  Her beauty is inside and out.  I can't help but acknowledge her presence in my life as being the reason why I do my very best to behave like a lady and strive to treat others with an open heart.  To me, that is Linnea's effect on us all and I couldn't be prouder to be her friend.  As for John, truthfully...  I have been waiting a long time for someone like him to be part of Linnea's life.  Ever since I asked my older brother to stand in as Linnea's date during Freshman Year's Christmas Ball (after she had been stood up), it's been a long time coming for Linnea to meet her Mr. Right.
		</p>
	</div>
	<div style="opacity:0">
		<h4>Judy, Maid of Honor</h4>
		<p>I never imagined that at age 14, I would meet one of my best friends forever, my lifelong sister, and my constant source of strength and encouragement. I was overjoyed when she met John and even more happy that he saw all the wonderful qualities the rest of us saw in Linnea. I have so many great memories with Linnea throughout high school, college and our 20s. We were perfectly happy being clueless teens growing up in suburban San Jose, rooming together our first time "home away from home" in Santa Barbara, procrastinating our way through upper division Cal MCB labs, and surviving zip-lining adventures in Costa Rica. Linnea and I have been through our share of highs and lows and we made it through all the challenges that 15 years of friendship can bring. We have talked so many times about growing old together and taking girls' trips all over the world and I am so looking forward to that! It is rare to find friends who truly understand and accept you for who you are - flaws and all. I'm lucky to have found that person in Linnea and will hold on to her for dear life!</p> 

		<p>To my dear Linnea: I am truly excited to be there for you on your wedding day and for the rest of your married days! I promise to fix and bustle your train, carry tissues (for both you and me... and John), create a wedding emergency kit, keep you from stressing out, love you unconditionally no matter what, and scream at anyone who tries to take your ceremony parking spot. ;-D Congrats to you and John! I cannot wait to see you guys get married and know that you two are more than perfectly matched for one another.</p>
	</div>

</div>

<script type='text/javascript'>
$(window).load(function() {
	$('#featuredContent').orbit({ fluid: '16x16' });
});
</script>