<form>
  <label>Name</label>
  <input type="text" placeholder="First and Last Name" />

  <label>Email Address</label>
  <input type="text" placeholder="example@gmail.com" />

  <label>Message</label>
<textarea placeholder="Message" style="margin: 0px -34.5333px 12px 0px; width: 680px; height: 280px; "></textarea>
</form>

<a href="#" class="[medium] button">Send</a>
