<form>
  <label>Your Email Address</label>
  <input type="text" placeholder="example@gmail.com" />

  <label>Subject</label>
  <input type="text" placeholder="ex. How are you?" />

  <label>Message</label>
<textarea placeholder="Message" style="margin: 0px -34.5333px 12px 0px; width: 680px; height: 280px; "></textarea>
</form>

<a href="#" class="[medium] button">Send</a>
