<h4>Homewood Suites in Point Loma</h4>

<a href="http://homewoodsuites.hilton.com/en/hw/groups/personalized/S/SANLSHW-AOW-20130528/index.jhtml?WT.mc_id=POG">
<p>Studio suite 1 king ($165 / night)</p>
<p>1 bedroom king bed suite ($175 / night)</p>
<p>2 bedroom 2 bathroom suite 1 king bed 1 queen bed ($260 / night)</p></a>

<p>Deadline To Book: 02-May-13</p>

<p>Rate applies to nights: Thursday 30-May-2013, Friday 31-May-2013, Saturday 01-Jun-2013</p>
<p>     *Contracted rates only show up if you pick dates in the contracted date range</p>

<p>Amenities include: Free Breakfast, Free shuttle to/from airport, Great for families.</p>