

<div class="row">
      <div class="span4"><div id="image"><%= image_tag("Surfing.png", :class => "surfing_image") %></div>
      </div>
      <div class="span4"><div class="BrideGroom">Linnea &amp; John</div><div class="datetext">June 1, 2013</div>
      </div>
      <div class="span4"><div id="starfish"><%= image_tag("Starfish.jpeg", :class => "surfing_image") %></div>
  		</div>
    </div>
    


<div id="WelcomeWhiteBox">
  <div id="taglineText"><em id="text">Welcome To Our Wedding Website</em></div>
	<div class="NavigationBar">
			<dl>
				<dt><a href="index.html#body"><div class="NavigationMenu Selected">Welcome</div></a></dt>
				<dt><div class="NavigationMenu"><a href="OurStory.html#body">About Us</a></div></dt>
				<dt><div class="NavigationMenu"><a href="BridalParty.html#body">Our Bridal Party</a></div></dt>
				<dt><div class="NavigationMenu"><a href="WeddingDay.html#body">Wedding Day Info</a></div></dt>
				<dt><div class="NavigationMenu"><a href="Accommodations.html#body">Lodging</a></div></dt>
				<dt><div class="NavigationMenu"><a href="Travel.html#body">Travel San Diego</a></div></dt>
				<dt><div class="NavigationMenu"><a href="RSVP.html#body">RSVP</a></div></dt>
				<dt><div class="NavigationMenu"><a href="Registry.html#body">Registry</a></div></dt>
				<dt><div class="NavigationMenu"><a href="UpdateAddress.html#body">Update Your Address</a></div></dt>
				<dt><div class="NavigationMenu"><a href="GuestBook.html#body">Guest Book</a></div></dt>
				<dt><div class="NavigationMenu"><a href="ContactUs.html#body">Contact Us &amp FAQs</a></div></dt>
			</dl>
		</div>
	

		
    <div class="text">
      <p>Welcome loved ones to our wedding website!</p>
      <p>We hope this site will be a useful tool for you to access all the information you will need to attend our wedding.</p>
		</div>
</div>

  	
<div id="footer">Inspired by 
  <a href="http://www.weddingwire.com/wedding/UserViewWebsite?wid=cb29d9b93e0dadd5&themeCode=15101&flash=skip"class="footer">WeddingWire</a>, made by <a href="http://www.linkedin.com/in/khara" class="footer">Khara Muniz</a>
	</div>
