<div class="bparty_content">
<div class="Message" style="padding-top: 20px">
	<p>You're so sweet to think of us =)</p>
	<%= image_tag 'honeymoon.jpg', style: 'float: right;' %>

	<p>Because we currently (temporarily) live in a fully furnished place in Hawaii and our storage unit in San Diego has no more space, we decided to do a honeymoon registry.  Many of our fondest memories happened while we were traveling and we will think of our guests as we create new memories on our honeymoon.</p>

	<p><%= link_to 'Honeyfund', "http://www.honeyfund.com/wedding/johnandlinnea", :target => '_blank' %></div></a></p>
	
</div>
</div>

</a></li>
	
	
	<!-- <a href="http://www.honeyfund.com/wedding/johnandlinnea">http://www.honeyfund.com/wedding/johnandlinnea -->