<dl class="tabs pill">
  <dd class="active"><a href="#pillTab1">How We Met</a></dd>
  <dd><a href="#pillTab2">How John Proposed</a></dd>
  <dd><a href="#pillTab3">Why We'll Stay Together Forever</a></dd>
</dl>

<ul class="tabs-content">
  <li id="pillTab1Tab" class="active"> 
		<div class="bparty_content">
	<div class="Message">
	<h4>She said...</h4>
<%= image_tag 'jl.jpg', style: 'height: 367px; width:324px; margin: 10px; float:left;' %>
<p>Things definitely happen when you least expect it. I had an exhausting work week filled with travel delays and was debating whether to still go to dinner with Liv and Roger. I decided "why not! It's Friday night" and the restaurant Tractor Room was right in my neighborhood. When I arrived, Liv, Roger, and one of their couple friends were already seated so I thought it would be just the 5 of us.</p>
<p>10 minutes later, my future husband handsome blue-eyed John walks in. Internal monologue: "oh he's cute!" Conveniently, there was an empty seat next to me. Commence welcoming smile =) Despite a little skirmish about how meat should be cooked, we hit it off instantly over shared plates of game meats, gelato, and mutual chemistry. John walked me home (swoon!), kissed me on the cheek (double swoon!), and asked for my phone number. That night, I called one of my best friends Khara. Before I could explain anything, she immediately knew I met someone special. And she was right.</p> 
<p>John asked me out for our first official date the very next day. He impressed me with a lovely home-cooked dinner and we watched the classic James Bond Dr. No.  Yes, we've been inseparable ever since =) That was the beginning of our journey together from San Diego to Hawaii and numerous adventures & trips in between.</p>

	<p><b>He said...</b></p>
	<p>James Bond was our second date!</p>

	<p><b>Background story...</b></p>
	<p>John knew he would meet Linnea at the Tractor Room that night and even went shopping for a wardrobe upgrade beforehand. Linnea had no idea. They still debate about whether Tractor Room was their first date.</p>
</div>
	</div>
</li>

<li id="pillTab2Tab"> 
	<div class="bparty_content">
	<div class="Message">
<h4>He said...</h4>
<p>I am fairly certain that I decided to marry Linnea after our second date, although it took me a year to start looking for a ring. Any guy that has been through this process knows that it is overwhelming. Three months and several failed trips later, I finally found the perfect ring for Linnea.</p>
<p>It was important for me to get her parents blessing. I brought the ring with me to brunch with her parents. It was just the three of us and of course I was nervous. I told them how much I cared for Linnea and with their permission I would like to marry their daughter. Luckily, they approved!</p>
<p>I was excited to propose but I did not know exactly how I was going to do it. I knew it had to be special because we would always remember that moment in time. After a lot of searching, I decided on the Hotel Del Coronado, which is a historic beach hotel on nearby Coronado Island. I splurged and got us a room on Valentine’s weekend.</p>
<p>A few days in advance, I told Linnea that I had something special planned but kept it a surprise. She assumed we were celebrating Valentine’s Day. At this point, I still did not know how I was going to do it or what I was going to say. The ring was hidden in my pocket as I was waiting for the right time. We had a nice dinner at an outdoor restaurant along the hotel beachfront. I thought about asking her on the beach after dinner, but it was too windy and cold.</p>
<p>Fortunately, I had a large bouquet of flowers and champagne waiting in the room. We walked back to the room and when the door opened Linnea saw the champagne and flowers and started screaming. She turned around, and I got one knee. I told her that I loved her very much and I wanted to spend the rest of my life with her. I took the ring out of my pocket and she started crying. I looked at her and smiled, and I said “Linnea Camille Sanchez Alba will you marry me.” She gave me a hug. I said “so that’s a yes right?” She nodded and said yes, I put the ring on her finger, and we never looked back.</p>
<%= image_tag 'propose.jpg', style: ' margin: 10px; float:left;' %>


</div>
		</div>

	  </li>


	  <li id="pillTab3Tab">
		<div class="bparty_content">
	    <div class="Message">
<h4>Why we'll stay together forever</h4>
<p>From our parents— our first role models, we first witnessed the true meaning of love, commitment, and partnership and the importance of shared values. They have shown us the foundation for a lasting relationship and we are grateful to experience their 30+ years of marriage firsthand. With these lessons close to heart, we look forward to starting our married life together with the loving support of our families.</p>

	</div>
	</div>

</li>