<div class="Message">
<h4>How We Met</h4>
	<p>By Linnea</p>

<p>I had a horribly exhausting work week filled with travel delays and was debating whether to still go to dinner with Liv, Roger, and a few of their friends. I decided "why the heck not! It's Friday night." The restaurant, Tractor Room, was right in my neighborhood and I had time for a much-needed nap. Liv, Roger, and one of their couple friends were already seated so I thought it would be just the 5 of us. 10 minutes later, handsome blue-eyed John walks in. Internal monologue: "oh he's cute!" Conveniently, there was an empty seat next to me. Commence welcoming smile =) Despite a little skirmish about how meat should be cooked, we hit it off instantly over shared plates of game meats, gelato, and chemistry. John walked me home (swoon!), kissed me on the cheek (double swoon!), and asked for my phone number. That night, I called one of my besties Khara. She immediately knew I met someone special. And she was right! John asked me for our first official date the very next day. He cooked me a lovely dinner (the way to my heart is through my stomach =P) and we watched Dr. No.  But <b>yes</b>, we've been inseparable ever since =)</p>

	<p><b>He said...</b></p>
	<p>That was our second date!</p>

	<p><b>Background story...</b></p>
	<p>John knew he would meet Linnea at the Tractor Room that night and even went shopping for a wardrobe upgrade beforehand. Linnea had no idea. They still debate about whether Tractor Room was their first date.</p>
	
<h4>How John Proposed</h4>
	<p>By John</p>

</div>