<div class="Message">
<h4>How We Met</h4>
	<p>By Linnea</p>
<%= image_tag 'jl.jpg', style: 'height: 367px; width:324px; margin: 10px; float:left;' %>
<p>Things definitely happen when you least expect it. I had a horribly exhausting work week filled with travel delays and was debating whether to still go to dinner with Liv and Roger. I decided "why not! It's Friday night." The restaurant, Tractor Room, was right in my neighborhood and I had time for a much-needed nap. Liv, Roger, and one of their couple friends were already seated so I thought it would be just the 5 of us.</p>
<p>10 minutes later, handsome blue-eyed John walks in. Internal monologue: "oh he's cute!" Conveniently, there was an empty seat next to me. Commence welcoming smile =) Despite a little skirmish about how meat should be cooked, we hit it off instantly over shared plates of game meats, gelato, and mutual chemistry. John walked me home (swoon!), kissed me on the cheek (double swoon!), and asked for my phone number. That night, I called one of my best friends Khara. Before I could explain anything, she immediately knew I met someone special. And she was right!</p> 
<p>John asked me for our first official date the very next day. He cooked a lovely dinner (the way to my heart is through my stomach =P) and we watched James Bond Dr. No.  Yes, we've been inseparable ever since =) That was the beginning of our journey together from San Diego to Hawaii and numerous adventures & trips in between.</p>

	<p><b>He said...</b></p>
	<p>James Bond was our second date!</p>

	<p><b>Background story...</b></p>
	<p>John knew he would meet Linnea at the Tractor Room that night and even went shopping for a wardrobe upgrade beforehand. Linnea had no idea. They still debate about whether Tractor Room was their first date.</p>
	
<h4>How John Proposed</h4>
	<p>By John</p><%= image_tag 'propose.jpg', style: ' margin: 10px; float:left;' %>
<p></p>
</div>