<dl class="tabs pill">
	<dd class="active"><a href="#pillTab1">Flights</a></dd>
	<dd><a href="#pillTab2">Things To Do In San Diego</a></dd>
	<dd><a href="#pillTab3">Restaurants</a></dd>
	<dd><a href="#pillTab4">Weather</a></dd>

</dl>

<ul class="tabs-content">
	<li id="pillTab1Tab" class="active"> 
		<div class="bparty_content">
		<div class="Message">
			<h4><u>Flights</u></h4>

			<p>	The closest airport is San Diego Airport (code: SAN). If you decide to fly into LAX, it can take 2.5 - 4 hours to get to San Diego depending on traffic. From Orange County (code: SNA), it can take 1.5 - 3 hours depending on traffic. Traffic is usually pretty bad between LA / OC and SD. 
			</p>

			<p>	Suggested arrival: Friday, 31-May-2013 anytime.</p>
			<p>Suggested departure: Sunday, 02-Jun-2013 anytime. Monday, 03-Jun-2013 is one of the busiest flying days at SAN (especially the morning) so we recommend getting to the airport 2 hours in advance to go through security if you fly out that day.</p>

			<p><b>Bridal Party</b> - please arrive by morning of Friday, 31-May-2013 for the rehearsal.</p>
			<p><b>Family</b> - please depart afternoon of Sunday, 02-Jun-2013 or later. There is a family event on Sunday morning.</p>
<%= image_tag 'WelcomePage.JPG', style: 'margin: 10px; float:left;' %>
		</div>
		</div>
	</li>

	<li id="pillTab2Tab"> 
		<div class="bparty_content">
		<div class="Message">
			<p>Here are just a few suggestions for out of town visitors.</p> 
			<p><em>** highly recommend</em></p>
			<p><em>* recommend if you have time</em></p>

			<h4>Explore Areas of San Diego:</h4>
			<p><b>Coronado**</b> - beautiful beach, cute town center, and home of the historic Hotel Del (they have tours that we recommend). P.S. John proposed in Coronado =), <a href ="http://coronadovisitorcenter.com/CVC/index.html" target = "_blank">coronadovisitorcenter.com</a> and <a href="http://hoteldel.com/" target = "_blank">hoteldel.com</a></p>
			<p><b>Old Town**</b> - yummy Mexican food and a glimpse into California's Spanish history, <a href ="http://oldtownsandiegoguide.com/" target = "_blank">oldtownsandiegoguide.com</a></p>
			<p><b>Balboa Park*</b> - home of the SD zoo, numerous running trails, museums, and gardens. <a href ="http://www.balboapark.org/" target = "_blank">balboapark.org</a></p>

			<h4>Picturesque Views:</h4>
			<p><b>Torrey Pines State Reserve & Beach**</b> - short hike with views of the ocean. It's one of our favorite places. <a href ="http://torreypine.org/" target = "_blank">torreypine.org</a></p>
			<p><b>Cabrillo National Monument*</b> - other views of the ocean, Coronado, and downtown. For Top Gun fans, this was the setting for Viper's House. <a href="http://www.nps.gov/cabr/index.htm" target = "_blank">nps.gov/cabr/index.htm</a></p>
			<p><b>Sunset Cliffs**</b> - our wedding will be here =)</p>

			<h4>Amusement Parks:</h4> 
			<p><b>SeaWorld</b> - sealife and roller coasters, <a href = "http://seaworldparks.com/en/seaworld-sandiego" target = "_blank">seaworldparks.com/en/seaworld-sandiego</a></p>
			<p><b>San Diego Zoo</b> - more than 4,000 animals and 800 species, <a href= "http://sandiegozoo.org/" target = "_blank">sandiegozoo.org</a></p>
			<p><b>Wild Animal Park**</b> - animals live in their natural habitat. There is a safari area that looks like Africa (or at least pictures of safaris in Africa). <a href ="http://sdzsafaripark.org/" target = "_blank">sdzsafaripark.org</a></p>

			<h4>Shopping:</h4> 
			<p><b>Girard Street in La Jolla</b> - cute boutiques. While there, check out La Jolla Cove's waterside walkway and see the seals. <a href="http://www.lajollabythesea.com/shopping" target = "_blank">lajollabythesea.com/shopping</a></p>
			<p><b>Carlsbad Premium Outlets</b> - need we say more, <a href="http://www.premiumoutlets.com/outlets/outlet.asp?id=66" target = "_blank">premiumoutlets.com/outlets/outlet.asp?id=66</a></p>
			<p><b>Hillcrest</b> - fun urban finds, trendy hipster mecca, and SD's culinary epicenter. This is also the gay area of town and an interesting place to people watch. Reminiscent of San Francisco and Berkeley. <a href="http://www.sandiego.org/discover/hillcrest.aspx" target = "_blank">sandiego.org/discover/hillcrest.aspx</a></p>

			<h4>Activities:</h4>
			<p><b>Surfing*</b> - San Diego is known for surfing. FYI the water is cold so bring your wetsuit. Blacks Beach is the best area. All surf spots: <a href="http://www.sandiego.org/articles/surfing/san-diego-surf-spots.aspx" target = "_blank">sandiego.org/articles/surfing/san-diego-surf-spots.aspx</a></p>
			<p><b>Golf</b> - San Diego is also known for golf. Beautiful courses with ocean views. <a href="http://www.sandiego.org/what-to-do/sports/golf.aspx" target = "_blank">sandiego.org/what-to-do/sports/golf.aspx</a></p>
			<p><b>Hang Gliding at Torrey Pines Gliderport</b> - experience flight at the "Kitty Hawk of the west", <a href="http://sandiegofreeflight.com/jm170/" target = "_blank">sandiegofreeflight.com/jm170/</a></p>
			<p><b>Petco Park</b> - you may want to catch a Padres game downtown, <a href="http://petcoparkevents.com/" target = "_blank">petcoparkevents.com</a> and <a href="http://sandiego.padres.mlb.com/index.jsp?c_id=sd" target = "_blank">sandiego.padres.mlb.com</a></p>

			<h4>Near San Diego:</h4>
			<p><b>City of Julian</b> - historic gold rush boom town with world famous apple pie and a mine that you can visit. About 1.5 hours away, <a href="http://julianca.com/attractions/index.htm" target = "_blank">julianca.com/attractions/index.htm</a></p>

		</div>
		</div>
	</li>


	<li id="pillTab3Tab"> 
		<div class="bparty_content">
		<div class="Message">
			<h4>Our Favorites:</h4>

			<p><b>Mitch's Seafood</b> - hidden gem of San Diego. Awesome fresh fish tacos featuring daily catch. View of the harbor. Not to be confused with Point Loma Seafoods. Located behind Point Loma Sportsfishing. <a href ="http://mitchsseafood.com" target = "_blank">mitchsseafood.com</a></p>

			<p><b>Tractor Room</b> - a meat-lover's paradise with various game meats (venison meatloaf, buffalo, etc.). Huge portions and delicious cocktails. Good for brunch & dinner. <a href="http://thetractorroom.com" target = "_blank">thetractorroom.com</a></p>

			<p><b>Hash House</b> - TR's sister restaurant. Brunch never tasted so good or came on such large plates. Recommend splitting meals. Long lines. No reservations. Get there before 9 am. P.S. the bloody mary's are awesome. <a href="http://hashhouseagogo.com" target = "_blank">hashhouseagogo.com</a></p>

			<p><b>Sushi Ota</b> - one word: YUMMM! If you love sashimi, don't think just go =) Also has rolls. Fresh fish, some of which is imported from Japan. Make reservations. <a href="http://sushiota.com" target = "_blank">sushiota.com</a></p>

			<p><b>Hane Sushi</b> - sister restaurant of Sushi Ota. More focused on fusion and speciality rolls. <a href="http://www.yelp.com/biz/hane-sushi-san-diego" target = "_blank">yelp.com/biz/hane-sushi-san-diego</a></p>

			<p><b>Arrivederci Ristorante in Hillcrest</b> - best Italian food in town. You'll feel like you're in Italy. Waiters say to you "maybe-a in-a couple-a minutes-a." Recommend pork osso bucco. <a href="http://arrivederciristorante.com" target = "_blank">arrivederciristorante.com</a></p>

			<p><b>Island Prime</b> - surf n turf with a view. Go here for a beautiful sunset. <a href="http://islandprime.com" target = "_blank">islandprime.com</a></p>

			<p><b>Knotty Barrel</b> - gastropub with craft beers and a fun atmosphere. TVs for sports fans. <a href="http://knottybarrel.com" target = "_blank">knottybarrel.com</a></p>

			<p><b>Cuatros Milpas</b> - if you want real Mexican food, go here. Hole in the wall on the wrong side of the tracks. Don't worry there's no need for pepper spray. Lunch only. <a href="http://yelp.com/biz/las-cuatro-milpas-san-diego-2" target = "_blank">yelp.com/biz/las-cuatro-milpas-san-diego-2</a></p>

			<p><b>Amarin Thai</b> - delicious, authentic Thai food. <a href="http://www.amarinthaisandiego.com/" target = "_blank">amarinthaisandiego.com</a></p>

			<p><b>Manna Korean BBQ</b> - all you can eat Korean BBQ. The end. Final answer. End of game. Worth the long wait. <a href="http://yelp.com/biz/manna-korean-bbq-san-diego" target = "_blank">yelp.com/biz/manna-korean-bbq-san-diego</a></p>

			<h4>San Diego legends we have yet to try:</h4>

			<p><b>Lolita's Mexican Food</b> - when in San Diego, trying carne asada fries is a must. <a href="http://lolitasmexicanfood.com" target = "_blank">lolitasmexicanfood.com</a></p>

			<p><b>Phil's BBQ</b> - the long concert-like line at all hours of the day is a tell-tale sign of how good (we've heard) this place is, <a href="http://philsbbq.net" target = "_blank">philsbbq.net</a></p>

		</div>
		</div>
	</li>

	<li id="pillTab4Tab"> 
		<div class="bparty_content">
		<div class="Message">	
			<h4>Weather</h4>
			<p>During this time of year, expect the weather to be a little chillier and the sky to be overcast.  Although San Diego is warm &amp; sunny most of the year, our wedding happens to be during "May Gray" and "June Gloom".  The marine layer may start to break up in the afternoon.  You'll still need your sunblock though.</p>

			<p>Average temps are in the 60s.  Highs in low 70s.  Little chance of rain.  Maybe we'll get lucky and it will be warmer.  We'll let you know closer to the date.</p>

			<p>Typical June day:</p><%= image_tag 'Weather.JPG', style: 'margin: 10px; float:left;' %>

		</div>
		</div>
	</li>

</ul>