<dl class="tabs pill">
  <dd class="active"><a href="#pillTab1">Flights</a></dd>
  <dd><a href="#pillTab2">Things To Do In San Diego</a></dd>
  <dd class="hide-for-small"><a href="#pillTab3">Prepare For The Weather</a></dd>
</dl>

<ul class="tabs-content">
  <li id="pillTab1Tab" class="active"> 
	<div class="Message">
	<p>FLIGHTS:  The closest airport is San Diego Airport (code: SAN).  If you decide to fly into LAX, it can take you 2.5 - 4 hours to get to San Diego depending on traffic.  From Orange County (code: SNA), it can take 1.5 - 3 hours depending on traffic.  Please note that traffic is usually pretty bad between LA / OC and SD.</p>

	<p>Suggested arrival: Friday, 31-May-2013 anytime.</p>
	<p>Suggested departure: Sunday, 02-Jun-2013 anytime.  Monday, 03-Jun-2013 is one of the busiest flying days at SAN (especially the morning) so we recommend getting to the airport 2 hours in advance to go through security if you fly out that day.</p>

	<p>Bridal Party - please arrive by morning of Friday, 31-May-2013 for the rehearsal.</p>
	<p>Family - please depart afternoon of Sunday, 02-Jun-2013 or later. There is a family event on Sunday morning.</p>

	</div>
  </li>

  <li id="pillTab2Tab"> 
	<div class="Message">
		<ul>
			<li>Swim with sharks</li>
			<li>Eat at my favorite sushi restaurant</li>
		<ul>
	</div>

  </li>


  <li id="pillTab3Tab"> 
      <div class="Message">
		<p>During this time of year in San Diego, expect the weather to be [ ].  Also please don't forget to bring:</p>
		<ul>
			<li>Swim Suits</li>
			<li>Sunblock</li>
			<li>Sunglasses</li>
		<ul>
	</div>
  </li>  
</ul>