<div class="Message">
<h4><u>Map To Reception &amp Ceremony Location: [Address]</u></h4></a>
		<p>Our ceremony and hosted reception will be held at the beautiful [  ] on Saturday, June 1st in Point Loma of San Diego.  Please read detailed wedding day information below.</p>
		<h4>ITINERARY</h4>
		
		<b>Saturday, Jun 1, 2013</b>

				<ul>
					<li>3:00 pm - Guests Arrive at Venue</li>
					<li>3:30 pm - Ceremony</li>
					<li>4:00 pm - Cocktail Hour</li>
					<li>5:00 pm - Dinner</li>
					<li>6:00 - 9:00 pm - Reception</li>
					<li>9:30 pm - After Party</li>
				</ul>
</div>