<div class="Message">
	<u><h4>4:00pm, Ceremony at Sunset Cliffs Park</u></h4>
	<p>Location: Ladera Street at Cornish Drive</p>
	<%= image_tag 'WeddingCeremony.JPG', style: 'margin: 10px; float:left;' %>
			
	

	<u><h4>6:00pm, Reception at Admiral Kidd Club</u></h4>
	<p>Location: 33050 Acoustic Avenue, San Diego, CA 92136</p>
		<p>6:00 pm - Cocktail Hour.	<em><b>Please bring your ID. Our venue checks ID upon entry.</em></b>
		<br>7:00 - 11:00 pm - Dinner &amp; Dancing</br></p>
	

	<u><h4>Transportation</u></h4>
	<ul>
	<li>Transportation will be provided between Courtyard Marriott, Homewood Suites, the ceremony, and reception.</li>
	<li>Parking at ceremony: free parking lot at Sunset Cliffs Park.</li>
	<li>Parking at reception: free parking lot at Admiral Kidd Club. <b>Please be prepared to present your ID</b>.</li>
	<li>Our <a href="http://goo.gl/maps/ImV95">preferred directions</a> to the ceremony (scenic route) from Highway 8 west.</li>
</ul>

<large>View <a href="https://maps.google.com/maps/ms?msa=0&amp;msid=201964715579239374987.0004cb361ef9ee7dfa16b&amp;hl=en&amp;ie=UTF8&amp;t=m&amp;ll=32.727509,-117.236137&amp;spn=0.034658,0.054932&amp;z=14&amp;source=embed" style="color:#0000FF;text-align:left">John &amp; Linnea's Wedding</a> in a larger map.</large>

	<iframe width="640" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps/ms?msa=0&amp;msid=201964715579239374987.0004cb361ef9ee7dfa16b&amp;hl=en&amp;ie=UTF8&amp;t=m&amp;ll=32.727509,-117.236137&amp;spn=0.034658,0.054932&amp;z=14&amp;output=embed"></iframe><br />
	
</div>