<div class="Message">
	<p>During this time of year in San Diego, expect the weather to be [ ].  Also please don't forget to bring:</p>
	<ul>
		<li>Swim Suits</li>
		<li>Sunblock</li>
		<li>Sunglasses</li>
	<ul>
</div>
