@import "foundation";

body {
	background-color: #70DBDB;
	//font-family: sans-serif;
}

li, p {
	font-size: 18px;
	color: #5C3317;
}

h4 {
color: #5C3317;

}
.orbit-slide {
  opacity: 1;
}

div.BrideGroom {
  color: #5C3317;
  padding-top: 60px;
	margin-left: auto;
	margin-right:auto;
	font-size: 70px;
	font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
	width: 450px;
	text-align: center;
}

div.datetext {
  color: #5C3317;
	margin-left: auto;
	margin-right:auto;
	font-size: 45px;
	font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
	width: 450px;
	text-align: center;
	padding-bottom: 30px;
}


.surfing_image {
  # width: 375px;
  # height: 275px;
  margin-top: 60px;
  border: 5px solid white;
  -webkit-border-radius: 25px;
  border-radius: 25px;
	}

.image{

}
#WelcomeWhiteBox {
	display: block;
	width: 980px;
	padding:15px;
	//background-color: #FAFFB1;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	//border:1px solid blue;
	-webkit-border-radius: 25px;
}
#taglineText{
  color: #70DBDB;
	text-align:center;
	font-size: 40px;
	font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;

}
#footer {
  color: #5C3317;
	text-align: center;
	padding: 0px;
	margin: 10px;
	font-size: 90%;
	clear: left;
}

div.NavigationBar {
	padding-left: 20px;
	padding-top: 20px;
	//background-color: #F7F7F7;
    margin-left: auto;
    margin-right: auto;
}

div.NavigationMenu {
	border-bottom-width: 0px;
	border-collapse: separate;
	cursor: pointer;
	display: block;
	font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
	font-size: 20px;
	line-height: 21px;
	text-align: center;
	color: #70DBDB;
	padding-top: 10px;
	padding-bottom: 10px;
}

a { text-decoration: none; }

div.NavigationMenu:hover {
	background-color: #a1fffc;
}

div.Message {
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
  color: #5C3317;
  font-size: 15px;
}

div.content {
  padding-top: 20px;
}

li.active {
	background-color: #a1fffc;
}

div.featuredContent {
	color: red;

}