@import "foundation";

body {
	background-image: image-url('90sbackground.jpg');
	//font-family: sans-serif;
}

li, p {
	font-size: 18px;
	color: #5C3317;
}

h4 {
color: #5C3317;
}

.orbit-slide {
  opacity: 1;
}

div.BrideGroom {
  color: #5C3317;
  padding-top: 60px;
	margin-left: auto;
	margin-right:auto;
	font-size: 70px;
	font-family: Tahoma;
	width: 450px;
	text-align: center;
}

div.datetext {
  color: #5C3317;
	margin-left: auto;
	margin-right:auto;
	font-size: 45px;
	font-family: Tahoma;
	width: 450px;
	text-align: center;
	padding-bottom: 30px;
}


.surfing_image {
  # width: 375px;
  # height: 275px;
  margin-top: 60px;
  border: 5px solid white;
  -webkit-border-radius: 25px;
  border-radius: 25px;
	}

.image{

}

.column, .columns {
	padding:0px;
}
#WelcomeWhiteBox {
	display: block;
	width: 980px;
	padding:15px;
	//background-color: #FAFFB1;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	//border:1px solid blue;
	-webkit-border-radius: 25px;
}
#taglineText{
  color: #70DBDB;
	text-align:center;
	font-size: 40px;
	font-family: Tahoma;

}
#footer {
  color: #5C3317;
	text-align: center;
	padding: 0px;
	margin: 10px;
	font-size: 90%;
	clear: left;
}

div.NavigationBar {
	padding-left: 20px;
	padding-top: 20px;
	//background-color: #F7F7F7;
    margin-left: auto;
    margin-right: auto;
}

div.NavigationMenu {
	border-bottom-width: 0px;
	border-collapse: separate;
	cursor: pointer;
	display: block;
	font-family: 'Tahoma';
	font-size: 20px;
	line-height: 21px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

div.NavigationMenu a {
	color: #5C3317;
}

a { text-decoration: none; }

div.NavigationMenu a:hover {
	color: #a1fffc;
	text-decoration: underline;
}

div.Message {
  font-family: Tahoma;
  color: #5C3317;
  font-size: 15px;
}

div.content {
  padding-top: 20px;
}


li.current a {
	color: #a1fffc;
	text-decoration: underline;
}

div.featuredContent {
	color: red;

}

div.pink-background {
	background-image: image-url('pink-background.gif');
	height: 100%;
}

img.quill {
	height: 40px;
	width:40px;
	float: left;
}

.tabs.pill dd.active a, .tabs.pill li.active a {
	background-color: #a1fffc;
	color: #5C3317;
}
